{
  "openapi": "3.0.0",
  "info": {
    "title": "VTULab API",
    "description": "Premium APIs for VTU, bill payments, and identity verification services. Build fintech products with confidence.",
    "version": "1.0.0",
    "contact": {
      "name": "VTULab Support",
      "email": "support@vtulab.com",
      "url": "https://vtulab.com"
    }
  },
  "servers": [
    {
      "url": "https://api.vtulab.com/v1",
      "description": "Production Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter your Secret Key in the format: Bearer <your-key>"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "The given data was invalid."
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": {
              "phone_number": [
                "The phone number must be 11 digits."
              ]
            }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "reference": {
            "type": "string",
            "example": "VTU_123456789"
          },
          "title": {
            "type": "string",
            "example": "Data Purchase"
          },
          "type": {
            "type": "string",
            "example": "data"
          },
          "amount": {
            "type": "number",
            "example": 500
          },
          "discount": {
            "type": "number",
            "example": 15
          },
          "direction": {
            "type": "string",
            "example": "debit"
          },
          "currency": {
            "type": "string",
            "example": "NGN"
          },
          "status": {
            "type": "string",
            "example": "success"
          },
          "description": {
            "type": "string",
            "example": "MTN 1GB SME Data to 08123456789"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-05-07T12:00:00Z"
          }
        }
      }
    },
    "parameters": {
      "AcceptHeader": {
        "name": "Accept",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "default": "application/json"
        },
        "description": "The media type of the response"
      },
      "ContentTypeHeader": {
        "name": "Content-Type",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "default": "application/json"
        },
        "description": "The media type of the request body"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/vtu/data": {
      "get": {
        "tags": [
          "VTU"
        ],
        "summary": "Get Data Catalog",
        "operationId": "getDataCatalog",
        "description": "Retrieve available networks and their associated data plans. Use this to populate your product list.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Data catalog retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Data catalog retrieved"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "networks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1
                              },
                              "name": {
                                "type": "string",
                                "example": "MTN"
                              },
                              "identifier": {
                                "type": "string",
                                "example": "mtn"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/vtu/data/purchase": {
      "post": {
        "tags": [
          "VTU"
        ],
        "summary": "Purchase Data",
        "operationId": "purchaseData",
        "description": "Purchase a data bundle for a specified phone number. Wallet will be debited instantly.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "network_id",
                  "plan_id",
                  "phone_number"
                ],
                "properties": {
                  "network_id": {
                    "type": "integer",
                    "description": "The ID of the network provider (from Data Catalog).",
                    "example": 1
                  },
                  "plan_id": {
                    "type": "integer",
                    "description": "The ID of the data plan (from Data Catalog).",
                    "example": 15
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Recipient 11-digit phone number.",
                    "example": "08123456789"
                  },
                  "reference": {
                    "type": "string",
                    "description": "Unique transaction reference (optional).",
                    "example": "my_unique_ref_001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data purchase successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Data purchase successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "$ref": "#/components/schemas/Transaction"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vtu/airtime/purchase": {
      "post": {
        "tags": [
          "VTU"
        ],
        "summary": "Purchase Airtime",
        "operationId": "purchaseAirtime",
        "description": "Purchase airtime for any Nigerian network provider.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "network",
                  "phone_number",
                  "amount"
                ],
                "properties": {
                  "network": {
                    "type": "string",
                    "enum": [
                      "mtn",
                      "airtel",
                      "glo",
                      "9mobile"
                    ],
                    "example": "mtn"
                  },
                  "phone_number": {
                    "type": "string",
                    "example": "08123456789"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount in NGN (Min: 50).",
                    "example": 100
                  },
                  "reference": {
                    "type": "string",
                    "example": "airtime_ref_99"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Airtime purchase successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Airtime purchase successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "$ref": "#/components/schemas/Transaction"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/identity/nin/verify": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Verify NIN",
        "operationId": "verifyNIN",
        "description": "Perform real-time NIN verification. Requires user consent.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nin",
                  "is_consent"
                ],
                "properties": {
                  "nin": {
                    "type": "string",
                    "description": "11-digit National Identification Number.",
                    "example": "12345678901"
                  },
                  "is_consent": {
                    "type": "boolean",
                    "description": "Acknowledge that you have obtained consent from the subject.",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "NIN verification successful"
                    },
                    "data": {
                      "type": "object",
                      "example": {
                        "firstname": "JOHN",
                        "lastname": "DOE",
                        "birthdate": "1990-01-01",
                        "gender": "m",
                        "photo": "https://..."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/identity/nin/retrieve": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Retrieve NIN",
        "operationId": "retrieveNIN",
        "description": "Retrieve NIN details using a verified phone number.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone_number",
                  "is_consent"
                ],
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "example": "08123456789"
                  },
                  "is_consent": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NIN retrieved successfully"
          }
        }
      }
    },
    "/identity/bvn/verify": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Verify BVN",
        "operationId": "verifyBVN",
        "description": "Perform real-time BVN verification. Wallet will be charged for each request.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bvn",
                  "is_consent"
                ],
                "properties": {
                  "bvn": {
                    "type": "string",
                    "description": "11-digit Bank Verification Number.",
                    "example": "22233344455"
                  },
                  "is_consent": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BVN verification successful"
          }
        }
      }
    },
    "/identity/bvn/retrieve": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Retrieve BVN",
        "operationId": "retrieveBVN",
        "description": "Retrieve BVN details using a verified phone number.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone_number",
                  "is_consent"
                ],
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "example": "08123456789"
                  },
                  "is_consent": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BVN retrieved successfully"
          }
        }
      }
    }
  }
}
